<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dota2python</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/heroes">Heroes</a>
            </li>
            <li>
                <a href="/items">Items</a>
            </li>
            <li>
                <a href="/about-me">About me</a>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}
</body>
</html>